/* soft reset css*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
    background-image: url('../img/mapa.jpg');
    background-size:auto 100vh;
    font-family: Arial;
    background-color: midnightblue;
    backdrop-filter: blur(10px);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

  }
  
header{
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
a{
    text-decoration: none;
    color: lightsteelblue;
    font-weight: bold;
    
   }
  
.menu a:hover, .menu a:active{
    color: midnightblue;
    background-color: lightsteelblue;
    text-decoration: underline;
    border-radius: 10px;
  }
  
.menu{
    background-color: midnightblue;
    padding:3vh;
    position: fixed;
    width: 100vw;
    top:0;
    z-index: 1;
  }
  
.menu  ul{
    display: flex;
    justify-content: space-around;   
  }
  
.menu li{
    list-style: none;
  }
.menu a{
  display: block;
  padding: 10px 20px;
  transition: background-color 0.5s, color 0.5s;
}

.sobre{
  position: relative;
  width: 100%;
  min-height: 30vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;

}
.tauo{
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;


}

.img-sobre{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  filter: grayscale();
  transform: scaleX(-1);
  height: 300px;
  width:300px;
  float:right;
  margin:2em;
}

.sobre-mim{
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation:  animacaoStarWars 60s linear forwards;

}

.som_tauo{
  text-align: right;
}


@keyframes animacaoStarWars {
  0%{
    top:0;
    transform: rotateX(20deg) translateZ(0);
  }
  99.9999999%{
    /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
    top: -6000px;
    /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
    transform: rotateX(25deg) translateZ(-2500px);

  }
  100%{
    top: auto;
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: normal;
    perspective: none;
    line-height: normal;
    box-sizing:border-box;
    padding: 1em;
    display:flex;  
  }
  }


.cartao{
  background-color: rgba(176, 196, 222, 0.5);
  padding: 3rem;
  border-radius: 10px;
  border-style: solid;
  border-color: midnightblue;
  display:flex;
  transform: scale(0.2) translateY(50vh);
  transition: all 2s;
  opacity: 0;
  box-shadow: 0px 0px 30px lightsteelblue;

  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{

  0%{
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
    
  }

  100%{
    transform: scale(1) translateY(0);
    opacity: 1;

  }

}
 
.site-subtitle,
.site-title{
    color: midnightblue;
    text-align: center;
    font-weight: bolder;
    padding:3vh;
  }

.site-title, .menu{
  font-family: 'Saira Stencil One', cursive;
}
  
.site-subtitle, .portfolio figcaption, .sobre-mim{
    font-style: italic;
    font-family: 'Jim Nightshade', cursive;
  }

.img-portfolio, .img-head {
    width: 180px;
    height: 180px;
  }
.img-head{
  border-radius: 50%;
  text-align: center;
  border-style:solid;
  border-color: midnightblue;
  box-shadow: 0px 0px 10px midnightblue;
}

.site-section, .contato{
  display: block;
  font-family: 'Saira Stencil One', cursive;
  line-height:3rem;
  padding: 3rem;
  margin-bottom: 1.5rem;

}

.portfolio{
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
  background-image: linear-gradient(0deg, transparent, black 75%);
  color: lightsteelblue;
  text-align: center;
  font-size: 1.5em;
  padding:2rem;
}

.contato, .sobre {
  background-image: linear-gradient(0deg, transparent, black 75%);
  color: lightsteelblue;
  text-align: center;
  font-size: 1.5em;

}

.contato a {
 font-size: 4em;
 transition: ease-in 1s;
}

.contato a:hover, .contato a:active, .livro:hover{
  text-decoration: none;
  text-shadow:0px 0px 15px lightsteelblue;
}



.portfolio figure{
  text-align: center;
}

.img-foto-container{
  display: grid;
  gap: 1rem;
  justify-content: center;
   
}
.img-portfolio{
  padding:0.2em;
  border-radius: 50%;
  border-style: solid;
  border-color: lightsteelblue;
}

.img-portfolio:hover{
  padding:0.2em;
  border-radius: 30%;
  border-style: dotted;
  transform: scale(1.1);
  transition: linear(0.5s);
}

.sobre-site{
  background-color: midnightblue;
  color: lightsteelblue;
}

/*usando a flip animation no card principal*/

.flip-card {
  height: 180px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 3s;
}

.card-front, 
.card-back {
  backface-visibility: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  height: 180px;
  width: 100%;
  transform: rotateY(180deg);
  color: midnightblue;
}
.card-back a{
  color: midnightblue;
  box-shadow: 0px 0px 30px midnightblue;
}

.rodape{
  text-align: center;
}

@media(min-width: 960px) {
  body{
    font-size: 1.5rem;

  }
  
}


  @media(min-width:480px){

    .img-foto-container{
      grid-template-columns: 45% 45%;
       
    }

  }

  @media(min-width:640px) {
    .img-foto-container{
      grid-template-columns: 30% 30% 30%;
       
    }

    .img-portfolio, .img-head{
      width: 250px;
      height: 250px;

    }
    
  }

  @media(min-width:1200px){
    .img-foto-container{
      grid-template-columns: 22% 22% 22% 22%;
       
    }
  }

  @media(max-width:600px){
    .sobre{
      display: flex;
      justify-content: center;
      align-content: space-between;
      flex-direction: column;
      background-image: linear-gradient(0deg, transparent, black 75%);
      color: lightsteelblue;
      text-align: center;
      font-size: 1.5em;
      padding:2rem;
      z-index: 0;
      padding: 2em;
      min-height: 100vh;
      
    
    }
    .tauo{
      display: flex;
      justify-content: center;
      position: relative;
      height: auto;
      font-size: 1em;
      font-weight: none;
      letter-spacing: none;
      line-height: 100%;
      perspective: none;
      text-align: justify;
         
    }

    .img-sobre{
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
      filter: grayscale();
      transform: scaleX(-1);
      height: 180px;
      width:180px;
      float:none;
      margin:2em;
    }
    
    .sobre-mim{
      position:relative;
      top: 0;
      transform-origin: none;
      animation:  none;
      text-size-adjust: auto;
      object-fit: fill;
    
    }
    
  }




